/*Resting method */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Resting method */
body {
    font-size: 20px;
}

header,
footer {
    background-color: grey;
    height: 10vh;
}

header {
    margin-bottom: 2vh;
}

footer {
    margin-top: 2vh;
}

main {
    position: relative;
    height: 76vh;
}

.section1 {
    background-color: red;
    position: absolute;
    height: 50%;
    width: 70%;
}

.section2 {
    background-color: orange;
    position: absolute;
    bottom: 0px;
    height: 50%;
    width: 70%;
}

aside {
    background-color: yellow;
    position: absolute;
    right: 0px;
    width: 30%;
    height: 100%;
}


/* media Queries */

@media screen and (max-width: 900px) {

    .section1,
    .section2 {
        width: 50%;
    }

    aside {
        width: 50%;
    }
}

/* phone */
@media screen and (max-width: 600px) {

    main,
    .section1,
    .section2,
    aside {
        position: static;
    }



    main {
        display: flex;
        flex-direction: column;
    }

    .section1,
    .section2,
    aside {
        width: 100%;
        height: 33.3333333%;
    }



}

/* media queries *|/