/*Resting method */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Resting method */



/* global */

body {
    font-size: 20px;
}

header,
footer {
    background: grey;
    height: 10vh;
}


/* headder */

header {
    margin-bottom: 2vh;
}

/* main */
main {
    height: 76vh;
    display: flex;
}

section {
    height: 100%;
    margin: none;
}

.section1 {
    background: yellowgreen;
    width: 50%;
}

.section2 {
    order: -1;
    background: green;
    width: 25%;
}

.section3 {
    background: yellow;
    width: 25%;
}

/* footer */

footer {
    margin-top: 2vh;
}

/* media queries */
@media screen and (max-width: 900px) {
    body {
        color: white;
    }

    main {
        display: block;
    }

    .section1 {
        height: 70%;
        width: 100%;
    }

    .section2,
    .section3 {
        height: 30%;
        width: 50%;
    }

    .section2 {
        display: inline-block;
    }

    .section3 {
        float: right;
    }
}

/* phone */
@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .section1 {
        order: -1;
    }

    .section1,
    .section2,
    .section3 {
        width: 100%;
    }

    .section2,
    .section3 {
        height: 25%;
    }
}